@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background: rgb(243, 243, 243);
    margin: 0;
    background-image: url(./Serviços\ populares.jpg);
}

.superior {
    display: flex;
    align-items: center;
    position: relative;
    background: rgb(70, 99, 230);
    padding: 10px 20px;
    width: 97.5vw;
    height: 45px;
    border-bottom: 1px solid #ddd;
}
.seta{
    size: 20px;
    padding: 0px;
    margin: 0px;
    width: 200px;
    transform:translate(43%,20%) ;
}

.superior #escrito {
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    font-size: 22px;
    font-family: "Rubik", sans-serif;
}


.form-box {
    color: #fff;
    background-color: #cfcfcf;
    padding: 30px;
   
    border-color: #073574;
    border-radius: 70px;
    border: 2px solid #073574;
    transform:translate(40%,40%) ;
    width: 370px;
}

.form-box form {
    display: flex;
    flex-direction: column;
}

.form-box label {
    margin-bottom: 20px;
    font-weight: bold;
}

.form-box input[type="text"], .form-box input[type="password"], .form-box input[type="email"] {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 2px grey;
    width: 300px;
    transform:translate(9%,10%) ;  
}


.botaocriar{
    background-color: #415ced;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    
}
button{
    width: 350px;
    text-align: center;
    align-items: center;
    transform:translate(7%,0%) ; 
    
}
.material-symbols-outlined{
    transform:translate(90%,-270%) ; 
    color: black;

    cursor: pointer;

}




.separator {
    height: 380px;
    width: 2px;
    background-color: #0038b6;
    transform:translate(38666%,-150%) ;
}
.separator2{
    height: 400px;
    width: 2px;
    background-color: #0038b6;
    transform:translate(38666%,-170%) ;

}
h2{
    color: #415ced;
    size: 40px;
    align-items: center;
    text-align: center;
}
.Ou{
    size: 100px;
    width: 2px;
    font-size: 70px;
    color: #0038b6;
    font-family: Arial, Helvetica, sans-serif;
    transform:translate(36500%,-770%) ;



}
.esqueceu{
    color: #0b5ac4;
    text-decoration: none;
    text-align: center;
}
.ES{
    color: black;
    text-align: center;

}






.form-box2 {
    color: #fff;
    background-color: #cfcfcf;
    padding: 40px;
   
    border-color: #073574;
    border-radius: 70px;
    border: 2px solid #073574;
    transform:translate(200%,-210%) ;
    width: 370px;
}

.form-box2 form {
    display: flex;
    flex-direction: column;
}

.form-box2 label {
    margin-bottom: 20px;
    font-weight: bold;
}

.form-box2 input[type="text"], .form-box2 input[type="password"], .form-box2 input[type="email"], .form-box2 input[type="usuario"] {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 2px grey;
    width: 300px;
    transform:translate(9%,10%) ;  
}

.form-box2 input[type="submit"] {
    background-color: #415ced;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}






#logo_2 {
    margin-left: 0.2%;
    width: 120px;
    font-size: 50px;
}

.search_fil {
    margin-top: -0.1%;
    margin-left: 15%;
}

.search {
    background-color: white;
    width: 500px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

#botao_filtro {
    width: 32px;
    height: 32px;
    background-color: rgb(70, 99, 230);
    border-radius: 50%;
    margin-left: 1%;
}

#botao_search {
    width: 32px;
    height: 32px;
    background-color: rgb(70, 99, 230);
    border-radius: 50%;
    margin-left: 1.5%;
}

#BarraDePesquisa {
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 50px;
}

#BarraDePesquisa[type="text"] {
    font-size: 25px;
    padding-left: 15px;
}

#BarraDePesquisa:focus {
    outline: none;
}

/* ICONS */
.fa-bars {
    margin-top: 20%;
    margin-left: 20%;
    font-size: 20px;
    color: white;
}

.fa-magnifying-glass {
    margin-top: 20%;
    margin-left: 20%;
    font-size: 20px;
    color: white;
}

.fa-bell {
    color: white;
    font-size: 35px;
    margin-left: 15px;
}

.fa-cart-shopping {
    color: white;
    font-size: 35px;
    margin-left: 15px;
}

/* USER */
.user {
    margin-left: 15px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}

.fa-user {
    margin-left: 18%;
    margin-top: 15%;
    font-size: 28px;
}