
body {
    background: rgb(182, 185, 214);
    margin: 0;
    padding: 0;
    padding-top: 3.7%;
}

.superior {
    display: flex;
    align-items: center;
    background: rgb(70, 99, 230);
    padding: 10px 20px;
    width: 100%;
    height: 6%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.superior #escrito {
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    font-size: 150%;
    font-family: "Rubik", sans-serif;
}

#logo_2 {
    margin-left: 1%;
    width: 120px;
    font-size: 500px;
}

.search_fil {
    display: flex;
    align-items: center;
    
    height: 2vw
}

#search {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

#botao_filtro {
    width: 32px;
    height: 32px;
    background-color: rgb(70, 99, 230);
    border-radius: 50%;
    margin-left: 2%;
}

#botao_search {
    width: 32px;
    height: 32px;
    background-color: rgb(70, 99, 230);
    border-radius: 50%;
    margin-right: 1%;
}

#BarraDePesquisa {
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 50px;
}

#BarraDePesquisa[type="text"] {
    font-size: 25px;
    padding-left: 15px;
}

#BarraDePesquisa:focus {
    outline: none;
}

#conjunto {
    display: flex; 
    align-items: center; 
    margin-left: auto; 
    padding-right: 2%; 
}


/* ICONS */
.fa-bars {
    margin-top: 20%;
    margin-left: 20%;
    font-size: 20px;
    color: white;
}

.fa-magnifying-glass {
    margin-top: 20%;
    margin-left: 20%;
    font-size: 20px;
    color: white;
}

.fa-bell {
    color: white;
    font-size: 35px;
    margin-left: 15px;
}

.fa-cart-shopping {
    color: white;
    font-size: 35px;
    margin-left: 15px;
}

/* USER */
.user {
    margin-left: 15px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}

.fa-user {
    margin-left: 18%;
    margin-top: 15%;
    font-size: 28px;
    width: 2vw
}

/** Pagina **/

#geral{
    background-color: azure;
    align-self: center;
}