
body {
    background: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
}

.superior {
    display: flex;
    align-items: center;
    position: relative;
    background: rgb(70, 99, 230);
    padding: 10px 20px;
    width: 97.9vw;
    height: 45px;
    border-bottom: 1px solid #ddd;
}

.superior #escrito {
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    font-size: 22px;
    font-family: "Rubik", sans-serif;
}

#logo_2 {
    margin-left: 1%;
    width: 120px;
    font-size: 500px;
}

.search_fil {
    margin-top: -0.1%;
    margin-left: 15%;
    height: 2vw;
}

#search {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

#botao_filtro {
    width: 32px;
    height: 32px;
    background-color: rgb(70, 99, 230);
    border-radius: 50%;
    margin-left: 1%;
}

#botao_search {
    width: 32px;
    height: 32px;
    background-color: rgb(70, 99, 230);
    border-radius: 50%;
    margin-left: 1.5%;
}

#BarraDePesquisa {
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 50px;
}

#BarraDePesquisa[type="text"] {
    font-size: 25px;
    padding-left: 15px;
}

#BarraDePesquisa:focus {
    outline: none;
}

/* ICONS */
.fa-bars {
    margin-top: 20%;
    margin-left: 20%;
    font-size: 20px;
    color: white;
}

.fa-magnifying-glass {
    margin-top: 20%;
    margin-left: 20%;
    font-size: 20px;
    color: white;
}

.fa-bell {
    color: white;
    font-size: 35px;
    margin-left: 15px;
}

.fa-cart-shopping {
    color: white;
    font-size: 35px;
    margin-left: 15px;
}

/* USER */
.user {
    margin-left: 15px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}

.fa-user {
    margin-left: 18%;
    margin-top: 15%;
    font-size: 28px;
    width: 2vw
}

#conjunto{
    display: flex;
    margin-left: 24vw;
}

/**/
.caixa-de-compra {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid #337ab7 5px;
    height: 700px;
    margin-top: 3vw;
    margin-left: 5vw;
    float: left;
}

.caixa-de-compra h2{
    color: green;
    font-size: 60px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#aviso {
    margin-bottom: 15px;
    font-size: 25px;
}

#email {
    font-size: 35px;
}

#carrinho {
    max-width: 100%;
    height: auto;
}

.caixa-de-compra .icon {
    margin: 20px 0;
}

#ver-produto {
    color: #337ab7;
    text-decoration: none;
    font-size: 25px;
}

aside {
    width: 35%;
}

.chat {
    background-image: url(fundo\ seta.png);
    background-size: cover;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-left: 5px solid rgb(15, 23, 95);
    position: absolute;
    right: 0;
    position: fixed;
    right: 0;
    top: 64px; 
    width: 35%; 
    height: calc(100vh - 60px);

}

#cabecalho {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: #08277a;
    width: 100%;
    height: 4vw;
    border-radius: 10px;
}

#foto-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: white;
    margin-left: 1vw;

}

#foto-contato i {
    font-size: 1.5vw;
    margin-right: 0vw;
    margin-bottom: 0.3vw;
}

#nome-contato {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-left: 2vw;
}

#mais{
    margin-left: 16vw;
    color: white;
    font-size: 2vw;
    cursor: pointer;
}

#campo-mensagem{
    display: flex;
    align-items: center;
    border: 3px solid #034ea3;
    border-radius: 25px;
    padding: 10px;
    width: 33.5vw;
    background-color:white;
    height: 1.2vw;
    position: fixed;
    bottom: 1.5%;
}

#campo-mensagem button{
    font-size: 1vw;
}

#input {
    margin-bottom: 0.5vw;
    padding: 2.2%;
    width: 39vw;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    outline: none;
    
}

#enviar {
    background-color: #034ea3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 50%;
    margin-top: 10px;
    cursor: pointer;
    position:absolute;
    right: 10px;     
    transform: translateY(-12%);
    width: 6%;
}