@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background: rgb(243, 243, 243);
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    background: rgb(70, 99, 230);
    padding: 10px 20px;
    width: 97.5vw;
    height: 70px;
    border-bottom: 1px solid #ddd;
}

nav #escrito {
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    font-size: 25px;
    font-family: "Rubik", sans-serif;
}

#logo_2 {
    margin-left: 2%;
    width: 150px;
    font-size: 50px;
}

.search_fil {
    margin-top: 15px;
    margin-left: 0;
}

.search {
    background-color: white;
    width: 600px;
    height: 62px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

#botao_filtro {
    width: 50px;
    height: 50px;
    background-color: rgb(70, 99, 230);
    border-radius: 50%;
    margin-left: 1%;
}

#botao_search {
    width: 50px;
    height: 50px;
    background-color: rgb(70, 99, 230);
    border-radius: 50%;
    margin-left: 5%;
    align-items: center;
    display: flex;
}

#BarraDePesquisa {
    width: 440px;
    height: 60px;
    border: none;
    border-radius: 50px;
}

#BarraDePesquisa[type="text"] {
    font-size: 25px;
    padding-left: 15px;
}

#BarraDePesquisa:focus {
    outline: none;
}