body {
    background: rgb(243, 243, 243);
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    background: rgb(70, 99, 230);
    padding: 10px 20px;
    width: 97.5vw;
    height: 70px;
    border-bottom: 1px solid #ddd;
}

#logo_2 {
    margin-left: 2%;
    width: 150px;
    font-size: 50px;
}

.search_fil {
    margin-top: 15px;
    margin-left: 40%;
}

.search {
    background-color: white;
    width: 600px;
    height: 62px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

#botao_search {
    width: 50px;
    height: 50px;
    background-color: rgb(70, 99, 230);
    border-radius: 50%;
    margin-left: 13%;
    align-items: center;
    display: flex;

}

#botao_search .material-symbols-outlined {
    
    font-size: 24px;
    color: rgb(0, 0, 0);
}

#BarraDePesquisa {
    width: 450px;
    height: 60px;
    border: none;
    border-radius: 50px;
}

#BarraDePesquisa[type="text"] {
    font-size: 25px;
    padding-left: 15px;
}

#BarraDePesquisa:focus {
    outline: none;
}